mat-expansion-panel {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 10px auto;
}

.create-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.create-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.create-form .mat-button {
  float: right;
}
